.breakdown {
    background-color:rgb(225, 206, 199);
    display: flex;
    width: 99%;
    justify-content:  first baseline;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: rgb(11, 11, 38);
    box-sizing: border-box;
}